body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 98vw;
    background-color: blanchedalmond;
    overflow-x: hidden;
}

.container-lg {
    min-width: 95vw !important;
    overflow: hidden;
}

#map {
    width: 50vw;
    height: 70vh;
    background-color: black;
}

#layers,
#polys {
    width: 20vw;
    /* max-width: 23vw; */
    height: 70vh;
    /* background-color: black; */
}

p {
    margin: 0px;
}

.c-pointer {
    cursor: pointer;
}

.form-select {
    /* background-color: black;
    color: white; */
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #000;
    /* width: auto; */
}

.poly:hover {
    background-color: black;
    color: white;
}

.selected-poly {
    background-color: black;
    color: white;
}

#container {
    height: 60vh;
    width: 90vw;
    margin-top: 10px;
}

.loader-class {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myChart {
    background-color: white;
    max-height: 250px;
}

.d_none {
    display: none;
}

.mb_3 {
    margin-bottom: 20px;
}

.map_ {
    position: relative;
}

.map_bottom {
    position: absolute;
    bottom: 0px;
    opacity: 1;
    z-index: 2000;
    background-color: blanchedalmond;
    overflow-x: scroll !important;
    max-width: 100%;
    display: flex;
    padding: 5px;
}

.map_box {
    padding: 20px 10px;
    background-color: white;
    cursor: pointer;
    margin: 0px 5px;
    border-radius: 5px;
    min-width: 8vw !important;
}

.map_box p {
    font-size: 12px;
}